/* QWidget (Light Mode) */
QWidget {
    font-size: 14px;
    font-weight: 600;
    color: @foregroundColor;
}



QGroupBox {
    background-color: @backgroundColor;
    border: none;
    border-radius: 5px;
    margin-top: 2.5ex; /* leave space at the top for the title */
    font-size: 17px;
}

QGroupBox::title {
    font: helvetica;
    subcontrol-origin: margin;
    subcontrol-position: top center;
    background-color: @sidePanelColor;
}

QComboBox {
    color: @foregroundColor; /* Dark text color */
    background-color: transparent;
    border: none;
    padding: 0px;
    margin: 0px;
}

QComboBox QAbstractItemView {
    background-color: @backgroundColor; /* Light background color */
    border: 1px solid @menuBorderColor; /* Border color */
    border-radius: 5px; /* Rounded corners */
    selection-background-color: @menuItemSelectedColor;
    color: @foregroundColor;
}

QLineEdit {
    background-color: transparent; /* Light background color */
    border: 2px solid @foregroundColor; /* Border color */
    border-radius: 20px;
    padding: 4px 8px;
}

QTextEdit {
    background-color: transparent;
    border: none;
    font-size: 22px;
}

QMenu {
    background-color: @backgroundColor; /* Light background color */
    border: 1px solid @menuBorderColor; /* Border color */
    border-radius: 5px; /* Rounded corners */
}

QMenu::item {
    padding: 4px 20px; /* Padding for menu items */
    background-color: transparent; /* Transparent background for items */
}

QMenu::item:selected {
    background-color: @menuItemSelectedColor; /* Background color for selected item */
}

QMenu::item:disabled {
    color: @menuItemDisabledColor; /* Color for disabled items */
    background-color: transparent; /* Transparent background for disabled items */
}

SidePanel {
    background-color: @sidePanelColor;
}

QScrollArea {
    background: transparent;
    border: none;
}

DreamListWidget {
    background-color: transparent;
}

QListView::item {
    background: transparent;
    padding: 0px;
    margin: 0px;
}

QListView::item:selected {
    background: transparent;
}

QListView::item:selected:!active {
    background: transparent;
}

QListView::item:checked {
    background: transparent;
}

QListView::item:!checked {
    background: transparent;
}

DreamListWidgetItem {
    background: transparent;
    border: 0px;
    border-bottom: 1px solid #645D6B;
    padding: 15px;
}
DreamListWidgetItem#topItem {
    border-top: 1px solid #645D6B;
}

DreamListWidgetItem:pressed {
    background: #645D6B;
}

DreamListWidgetItem:checked {
    background: #645D6B;
}

DreamListWidgetItem QLabel#titleLabel {
    font-size: 14px; /* Larger font size for the title */
    font-weight: bold; /* Bold font for the title */
}

DreamListWidgetItem QLabel#dateLabel, DreamListWidgetItem QLabel#lengthLabel {
    font-size: 11px; /* Smaller font size for date and length */
    color: #DBD0B3;
}

FullDreamWidget {
    background: @backgroundColor;
}

AudioRecorderWidget {
    background: transparent;
}












